@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;

}

.navbar-brand {
 margin-top: 10px;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link {
  font-size:1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h2{
  font-size: 300%;
  text-shadow: 1px 1px 10px #000;
  font-weight: 500;
  padding-bottom: 1rem;
}
.carousel-caption h3{
  font-size: 200%;
  text-shadow: 1px 1px 10px #000;
  font-weight: 500;
  padding-bottom: 1rem;
  margin-top: 5%;
}
.cap h2{
  margin-top: 20%;
}

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}


.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
